# Dependencies
node_modules/
.next/
out/
build/

# Python Virtual Environments
venv/
.venv/
__pycache__/
*.py[cod]

# Environment Secrets
.env
.env.local
.env.development.local

# OS files
.DS_Store
Thumbs.db